*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100vw;
    height:100vh;
    background-color: aquamarine;
    display:grid;
    place-items: center;
}
.container{
    width:800px;
    height: 600px;
    background-color: azure;
    box-shadow: rgba(0,0,0,15) ;
    display: flex;
    user-select: none;
}
.ledger{
    background-color: rgb(47, 81, 81);
    padding:20px;
    flex: 1;
    color:white;

}
.ledger h2{
    text-transform: uppercase;
    color:orange;
}
.ledger h2,.ledger h4{
    font-weight: 500;
    margin-bottom: 5px;
    padding:5px;
}
.inc-exp-container{
    display: flex;
    padding:5px;
    gap:10px;
    
}
.inc-exp-container div{
    text-align:center;
    padding:20px;
    flex:1;
    font-size: 18px;
  
}
.inc-exp-container div.inc{
   border:2px solid rgb(18, 184, 18);
   color:rgb(33, 202, 33);
}
.inc-exp-container div.exp{
   border:2px solid red;
   color:red;
}
#form{
    padding:10px;
    margin-top: 20px;
}
.form-control{
    margin-top: 10px;
}
label{
    display:inline-block;
    margin: 10px 0;
    font-weight: 400;
    font-size:20px;
}
input[type="text"],
input[type="number"]{
    border:1px solid grey;
    display:block;
    width:100%;
    font-size:16px;
    padding:7px;
    outline:none;
    border-radius: 3px;
}
#btn{
    background-color: rgb(24, 141, 141);
    color:white;
    display:block;
    font-size: 16px;
    padding:5px;
    margin-top: 25px;
   width:100%;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
}
.transaction{
    flex: 1;
    padding:20px;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
   
} 
.transaction h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 236, 236);
    margin-bottom: 5px;
}
.trans{
    list-style: none;
}
.trans li{
    background-color: rgb(99, 195, 161);
    color:white;
    padding:10px;
    margin:10px 0;
    display:flex;
    justify-content: space-between;
    font-weight: 600;
    position:relative;
    cursor:pointer;
    
}
.btn-del{
    position:absolute;
    top: -5px;
    right:-5px;
    width:20px;
    height:20px;
    border-radius: 50%;
    font-weight: 400;
    border:none;
    background-color: red;
    color:white;
    cursor:pointer;
    opacity:0;

}
.trans li:hover .btn-del{
    opacity:1;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(42, 72, 241);
    border-radius: 9px;
}

.trans li.inc{
    border-left:5px solid green;
}
.trans li.exp{
    border-left:5px solid red;
}